[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyswisseph = "==2.8.0.post1"
pytz = "==2020.1"
jsonpickle = "==1.4.2"

[dev-packages]

[requires]
python_version = "3.9"
