:root {
    /* Main Colors */
    --kerykeion-chart-color-paper-0: #000000;
    --kerykeion-chart-color-paper-1: #ffffff;
    --kerykeion-chart-color-zodiac-bg-0: #ff7200;
    --kerykeion-chart-color-zodiac-bg-1: #6b3d00;
    --kerykeion-chart-color-zodiac-bg-2: #69acf1;
    --kerykeion-chart-color-zodiac-bg-3: #2b4972;
    --kerykeion-chart-color-zodiac-bg-4: #ff7200;
    --kerykeion-chart-color-zodiac-bg-5: #6b3d00;
    --kerykeion-chart-color-zodiac-bg-6: #69acf1;
    --kerykeion-chart-color-zodiac-bg-7: #2b4972;
    --kerykeion-chart-color-zodiac-bg-8: #ff7200;
    --kerykeion-chart-color-zodiac-bg-9: #6b3d00;
    --kerykeion-chart-color-zodiac-bg-10: #69acf1;
    --kerykeion-chart-color-zodiac-bg-11: #2b4972;
    --kerykeion-chart-color-zodiac-icon-0: #ff7200;
    --kerykeion-chart-color-zodiac-icon-1: #6b3d00;
    --kerykeion-chart-color-zodiac-icon-2: #69acf1;
    --kerykeion-chart-color-zodiac-icon-3: #2b4972;
    --kerykeion-chart-color-zodiac-icon-4: #ff7200;
    --kerykeion-chart-color-zodiac-icon-5: #6b3d00;
    --kerykeion-chart-color-zodiac-icon-6: #69acf1;
    --kerykeion-chart-color-zodiac-icon-7: #2b4972;
    --kerykeion-chart-color-zodiac-icon-8: #ff7200;
    --kerykeion-chart-color-zodiac-icon-9: #6b3d00;
    --kerykeion-chart-color-zodiac-icon-10: #69acf1;
    --kerykeion-chart-color-zodiac-icon-11: #2b4972;
    --kerykeion-chart-color-zodiac-radix-ring-0: #ff0000;
    --kerykeion-chart-color-zodiac-radix-ring-1: #ff0000;
    --kerykeion-chart-color-zodiac-radix-ring-2: #ff0000;
    --kerykeion-chart-color-zodiac-transit-ring-0: #ff0000;
    --kerykeion-chart-color-zodiac-transit-ring-1: #ff0000;
    --kerykeion-chart-color-zodiac-transit-ring-2: #0000ff;
    --kerykeion-chart-color-zodiac-transit-ring-3: #0000ff;
    --kerykeion-chart-color-houses-radix-line: #ff0000;
    --kerykeion-chart-color-houses-transit-line: #0000ff;
    --kerykeion-chart-color-lunar-phase-0: #000000;
    --kerykeion-chart-color-lunar-phase-1: #ffffff;

    /* Aspects */
    --kerykeion-chart-color-conjunction: #5757e2;
    --kerykeion-chart-color-semi-sextile: #810757;
    --kerykeion-chart-color-semi-square: #b14e58;
    --kerykeion-chart-color-sextile: #d59e28;
    --kerykeion-chart-color-quintile: #1f99b3;
    --kerykeion-chart-color-square: #dc0000;
    --kerykeion-chart-color-trine: #36d100;
    --kerykeion-chart-color-sesquiquadrate: #985a10;
    --kerykeion-chart-color-biquintile: #7a9810;
    --kerykeion-chart-color-quincunx: #26bbcf;
    --kerykeion-chart-color-opposition: #510060;

    /* Planets */
    --kerykeion-chart-color-sun: #984b00;
    --kerykeion-chart-color-moon: #150052;
    --kerykeion-chart-color-mercury: #520800;
    --kerykeion-chart-color-venus: #400052;
    --kerykeion-chart-color-mars: #540000;
    --kerykeion-chart-color-jupiter: #47133d;
    --kerykeion-chart-color-saturn: #124500;
    --kerykeion-chart-color-uranus: #6f0766;
    --kerykeion-chart-color-neptune: #06537f;
    --kerykeion-chart-color-pluto: #713f04;
    --kerykeion-chart-color-mean-node: #4c1541;
    --kerykeion-chart-color-true-node: #4c1541;
    --kerykeion-chart-color-chiron: #666f06;
    --kerykeion-chart-color-first-house: #ff7e00;
    --kerykeion-chart-color-tenth-house: #ff0000;
    --kerykeion-chart-color-seventh-house: #0000ff;
    --kerykeion-chart-color-fourth-house: #000000;
    --kerykeion-chart-color-mean-lilith: #000000;
    --kerykeion-chart-color-true-lilith: #333333;
    --kerykeion-chart-color-ceres: #265206;
    --kerykeion-chart-color-pallas: #004952;
    --kerykeion-chart-color-juno: #591f52;
    --kerykeion-chart-color-vesta: #963209;
    --kerykeion-chart-color-pars-fortunae: #095242;
    --kerykeion-chart-color-vertex: #52064e;
    --kerykeion-chart-color-east-point: #482b7f;
    --kerykeion-chart-color-eris: #800000;

    /* Arab Parts */
    --kerykeion-chart-color-pars-spiritus: #095242;
    --kerykeion-chart-color-pars-amoris: #7f0c52;
    --kerykeion-chart-color-pars-fortunae: #095242;
    --kerykeion-chart-color-pars-fidei: #095242;

    /* Elements Percentage */
    --kerykeion-chart-color-air-percentage: #6f76d1;
    --kerykeion-chart-color-earth-percentage: #6a2d04;
    --kerykeion-chart-color-fire-percentage: #ff6600;
    --kerykeion-chart-color-water-percentage: #630e73;

    /* Other */
    --kerykeion-chart-color-house-number: #f00;
}
