:root {
    /* -------- */
    /* General */
    /* ------- */
    --kerykeion-color-black: #000000;
    --kerykeion-color-white: #ffffff;

    --kerykeion-color-neutral-content: #c8cbd0;
    --kerykeion-color-base-content: #ccd0d4;
    --kerykeion-color-primary: #38bdf8;
    --kerykeion-color-secondary: #818cf8;
    --kerykeion-color-accent: #f471b5;
    --kerykeion-color-neutral: #1e293b;
    --kerykeion-color-base-100: #0f172a;
    --kerykeion-color-info: #0ca5e9;
    --kerykeion-color-info-content: #000000;
    --kerykeion-color-success: #2dd4bf;
    --kerykeion-color-warning: #f4bf50;
    --kerykeion-color-error: #fb7085;

    /* Zodiac */
    --kerykeion-color-base-200: #0a1020;
    --kerykeion-color-base-300: #171f2c;

    /* ----------- */
    /* Chart Color */
    /* ----------- */

    /* Main colors */
    --kerykeion-chart-color-paper-0: var(--kerykeion-color-neutral-content);
    --kerykeion-chart-color-paper-1: var(--kerykeion-color-base-100);

    /* Zodiac Sign Sectors */
    --kerykeion-chart-color-zodiac-bg-0: var(--kerykeion-color-base-200);
    --kerykeion-chart-color-zodiac-bg-1: var(--kerykeion-color-base-300);
    --kerykeion-chart-color-zodiac-bg-2: var(--kerykeion-color-base-200);
    --kerykeion-chart-color-zodiac-bg-3: var(--kerykeion-color-base-300);
    --kerykeion-chart-color-zodiac-bg-4: var(--kerykeion-color-base-200);
    --kerykeion-chart-color-zodiac-bg-5: var(--kerykeion-color-base-300);
    --kerykeion-chart-color-zodiac-bg-6: var(--kerykeion-color-base-200);
    --kerykeion-chart-color-zodiac-bg-7: var(--kerykeion-color-base-300);
    --kerykeion-chart-color-zodiac-bg-8: var(--kerykeion-color-base-200);
    --kerykeion-chart-color-zodiac-bg-9: var(--kerykeion-color-base-300);
    --kerykeion-chart-color-zodiac-bg-10: var(--kerykeion-color-base-200);
    --kerykeion-chart-color-zodiac-bg-11: var(--kerykeion-color-base-300);

    /* Zodiac Sign Rings */
    --kerykeion-chart-color-zodiac-radix-ring-0: var(--kerykeion-color-neutral);
    --kerykeion-chart-color-zodiac-radix-ring-1: var(--kerykeion-color-neutral);
    --kerykeion-chart-color-zodiac-radix-ring-2: var(--kerykeion-color-neutral);
    --kerykeion-chart-color-zodiac-transit-ring-0: var(
        --kerykeion-color-neutral
    );
    --kerykeion-chart-color-zodiac-transit-ring-1: var(
        --kerykeion-color-neutral
    );
    --kerykeion-chart-color-zodiac-transit-ring-2: var(
        --kerykeion-color-neutral
    );
    --kerykeion-chart-color-zodiac-transit-ring-3: var(
        --kerykeion-color-neutral
    );
    --kerykeion-chart-color-houses-radix-line: var(
        --kerykeion-color-base-content
    );
    --kerykeion-chart-color-houses-transit-line: var(
        --kerykeion-color-base-content
    );

    /* Aspects */
    --kerykeion-chart-color-conjunction: var(--kerykeion-color-success);
    --kerykeion-chart-color-semi-sextile: var(--kerykeion-color-success);
    --kerykeion-chart-color-semi-square: var(--kerykeion-color-error);
    --kerykeion-chart-color-sextile: var(--kerykeion-color-success);
    --kerykeion-chart-color-quintile: var(--kerykeion-color-secondary);
    --kerykeion-chart-color-square: var(--kerykeion-color-error);
    --kerykeion-chart-color-trine: var(--kerykeion-color-success);
    --kerykeion-chart-color-sesquiquadrate: var(--kerykeion-color-error);
    --kerykeion-chart-color-biquintile: var(--kerykeion-color-secondary);
    --kerykeion-chart-color-quincunx: var(--kerykeion-color-secondary);
    --kerykeion-chart-color-opposition: var(--kerykeion-color-error);

    /* Planets */
    --kerykeion-chart-color-sun: var(--kerykeion-color-warning);
    --kerykeion-chart-color-moon: var(--kerykeion-color-secondary);
    --kerykeion-chart-color-mercury: var(--kerykeion-color-primary);
    --kerykeion-chart-color-venus: var(--kerykeion-color-accent);
    --kerykeion-chart-color-mars: var(--kerykeion-color-warning);
    --kerykeion-chart-color-jupiter: var(--kerykeion-color-primary);
    --kerykeion-chart-color-saturn: var(--kerykeion-color-secondary);
    --kerykeion-chart-color-uranus: var(--kerykeion-color-accent);
    --kerykeion-chart-color-neptune: var(--kerykeion-color-primary);
    --kerykeion-chart-color-pluto: var(--kerykeion-color-secondary);
    --kerykeion-chart-color-true-node: var(--kerykeion-color-warning);
    --kerykeion-chart-color-mean-node: var(--kerykeion-color-warning);
    --kerykeion-chart-color-chiron: var(--kerykeion-color-secondary);
    --kerykeion-chart-color-first-house: var(--kerykeion-color-warning);
    --kerykeion-chart-color-tenth-house: var(--kerykeion-color-warning);
    --kerykeion-chart-color-seventh-house: var(--kerykeion-color-warning);
    --kerykeion-chart-color-fourth-house: var(--kerykeion-color-warning);
    --kerykeion-chart-color-mean-lilith: var(--kerykeion-color-secondary);
    --kerykeion-chart-color-true-lilith: var(--kerykeion-color-secondary);
    --kerykeion-chart-color-ceres: var(--kerykeion-color-accent);
    --kerykeion-chart-color-pallas: var(--kerykeion-color-primary);
    --kerykeion-chart-color-juno: var(--kerykeion-color-accent);
    --kerykeion-chart-color-vesta: var(--kerykeion-color-warning);
    --kerykeion-chart-color-pars-fortunae: var(--kerykeion-color-success);
    --kerykeion-chart-color-vertex: var(--kerykeion-color-secondary);
    --kerykeion-chart-color-east-point: var(--kerykeion-color-primary);
    --kerykeion-chart-color-eris: var(--kerykeion-color-error);

    /* Arab Parts */
    --kerykeion-chart-color-pars-spiritus: var(--kerykeion-color-success);
    --kerykeion-chart-color-pars-amoris: var(--kerykeion-color-accent);
    --kerykeion-chart-color-pars-fortunae: var(--kerykeion-color-success);
    --kerykeion-chart-color-pars-fidei: var(--kerykeion-color-success);

    /* Zodiac Signs */
    --kerykeion-chart-color-zodiac-icon-0: var(--kerykeion-color-accent);
    --kerykeion-chart-color-zodiac-icon-1: var(--kerykeion-color-warning);
    --kerykeion-chart-color-zodiac-icon-2: var(--kerykeion-color-primary);
    --kerykeion-chart-color-zodiac-icon-3: var(--kerykeion-color-secondary);
    --kerykeion-chart-color-zodiac-icon-4: var(--kerykeion-color-accent);
    --kerykeion-chart-color-zodiac-icon-5: var(--kerykeion-color-warning);
    --kerykeion-chart-color-zodiac-icon-6: var(--kerykeion-color-primary);
    --kerykeion-chart-color-zodiac-icon-7: var(--kerykeion-color-secondary);
    --kerykeion-chart-color-zodiac-icon-8: var(--kerykeion-color-accent);
    --kerykeion-chart-color-zodiac-icon-9: var(--kerykeion-color-warning);
    --kerykeion-chart-color-zodiac-icon-10: var(--kerykeion-color-primary);
    --kerykeion-chart-color-zodiac-icon-11: var(--kerykeion-color-secondary);

    /* Elements Percentage */
    --kerykeion-chart-color-air-percentage: var(--kerykeion-color-primary);
    --kerykeion-chart-color-earth-percentage: var(--kerykeion-color-warning);
    --kerykeion-chart-color-fire-percentage: var(--kerykeion-color-accent);
    --kerykeion-chart-color-water-percentage: var(--kerykeion-color-secondary);

    /* Aspects */
    --kerykeion-chart-color-lunar-phase-0: var(--kerykeion-color-black);
    --kerykeion-chart-color-lunar-phase-1: var(--kerykeion-color-white);

    /* Houses Numbers */
    --kerykeion-chart-color-house-number: var(--kerykeion-color-base-content);
}
